.div1 {
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
}
.div2 {
  position: absolute;
  background-color: orange;
  width: 100px;
  height: 100px;
  top: 45px;
  left: 45px;
}
.div3 {
  position: absolute;
  background-color: yellow;
  width: 100px;
  height: 100px;
  top: 90px;
  left: 90px;
}
.div4 {
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
  top: 135px;
  left: 135px;
}
.div5 {
  position: absolute;
  background-color: magenta;
  width: 100px;
  height: 100px;
  top: 180px;
  left: 180px;
}
